.ui-changephone-container{
    margin-top: .373333rem;
}
.ui-changephone-img{
    width: 10rem;
    height: 5.333333rem;
    line-height: 5.333333rem;
    margin:auto;
    margin-top: .186667rem;
    text-align: center;
    img{
        width: 2.32rem;
        height: 3.92rem;
        vertical-align: middle;
    }
}
p{
     height: .933333rem;
    line-height: .933333rem;
    color:#888888;
    text-align: center;
    font-size: 16px;
    [data-dpr="2"] & {
        font-size: 32px;
    }
    [data-dpr="3"] & {
        font-size: 48px; 
    }
}
p.ui-phone-num{
    background: #fff url('../images/phoner.png') no-repeat 6.826667rem center ;
    background-size: .493333rem .493333rem;
    height: .933333rem;
    line-height: .933333rem;
    margin-top: .133333rem;
    color: #bdbdbd;
}
a.ui-changephone-btn{
    margin: auto;
    margin-top: .666667rem;
    display: block;
    color: #fff;
    background: #fa455c;
    width: 8.666667rem;
    height: .933333rem;
    line-height: .933333rem;
    text-align: center;
    font-size: 16px;
    [data-dpr="2"] & {
        font-size: 32px;
    }
    [data-dpr="3"] & {
        font-size: 48px;
    }
}


// .ui-changephone1-container{
//     margin-top: .373333rem;
// }
// p{
//      height: .933333rem;
//     line-height: .933333rem;
//     color:#888888;
//     text-align: left;
//     text-indent: .4rem;
//     font-size: 14px;
//     span{
//         color: #fa455c;
//     }
//     [data-dpr="2"] & {
//         font-size:28px;
//     }
//     [data-dpr="3"] & {
//         font-size: 42px; 
//     }
// }
// p.ui-phone-num{
//     height: .933333rem;
//     background: #fff;
//     line-height: .933333rem;
//     margin-top: .133333rem;
//     position: relative;
//     background-size: .493333rem .493333rem;
//     &.success{
//     background: #fff url('../images/phoner.png') no-repeat 8.5726667rem center ;
//     background-size: .493333rem .493333rem;
// }
//     &.error{
//     background: #fff url('../images/phonee.png') no-repeat 8.5726667rem center ;
//         background-size: .493333rem .493333rem;
// }
//     input{
//         background: #fff;
//         width: 4.533333rem;
//         margin-left: .186667rem;
//         margin-top:0;
//         text-indent: 0;
//         color: #bdbdbd;
//         font-size: 14px;
//         [data-dpr="2"] & {
//             font-size: 28px;
//         }
//         [data-dpr="3"] & {
//             font-size: 42px;
//         }
//         &::-moz-placeholder{
//             color: #bdbdbd;
//         }
//         &::placeholder{
//             color: #bdbdbd;
//         }
//         &::-webkit-input-placeholder{
//             color: #bdbdbd;
//         }
//         &:-ms-input-placeholder{
//              color: #bdbdbd;
//         }  
//     }
//     &>span{
//         position: absolute;
//         right: .506667rem;
//         top: .12rem;
     
//         font-size: 10px;
//         padding:.193333rem .306667rem;
//         border-radius:5px;
//         line-height: .266667rem;
//         text-indent: 0;
//         text-align: center;
//         border: .023333rem solid #fa455c;
//         border-radius: 5px;
//         -webkit-border-radius:5px;
//         -o-border-radius:5px;
//         -ms-border-radius:5px;
//         -moz-border-radius:5px;
//         &.change{
//             display: none;
//         }
//         &>i{
//             font-style: normal;
//         }
//         [data-dpr="2"] & {
//             border-radius:10px;
//         -webkit-border-radius:10px;
//         -o-border-radius:10px;
//         -ms-border-radius:10px;
//         -moz-border-radius:10px;
//         font-size: 20px;
//         border: .013333rem solid #fa455c;
//         }
//          [data-dpr="3"] & {
//              border: .013333rem solid #fa455c;
//             border-radius:15px;
//         -webkit-border-radius:15px;
//         -o-border-radius:15px;
//         -ms-border-radius:15px;
//         -moz-border-radius:15px;
//         font-size:30px;

//         }
//     }

// }
// a.ui-changephone-btn{
//     margin: auto;
//     margin-top: .666667rem;
//     display: block;
//     color: #fff;
//     background: #fa455c;
//     width: 8.666667rem;
//     height: .933333rem;
//     line-height: .933333rem;
//     text-align: center;
//     font-size: 16px;
//     [data-dpr="2"] & {
//         font-size: 32px;
//     }
//     [data-dpr="3"] & {
//         font-size: 48px;
//     }
// }



// .ui-changephone2-container{
//     margin-top: .373333rem;
// }
// p{
//      height: .933333rem;
//     line-height: .933333rem;
//     color:#888888;
//     text-align: left;
//     text-indent: .4rem;
//     font-size: 14px;
//     span{
//         color: #fa455c;
//     }
//     [data-dpr="2"] & {
//         font-size:28px;
//     }
//     [data-dpr="3"] & {
//         font-size: 42px; 
//     }
// }
// p.ui-phone-num{
//     height: .933333rem;
//     background: #fff;
//     line-height: .933333rem;
//     margin-top: .133333rem;
//     position: relative;
//     background-size: .493333rem .493333rem;
//     &.top{
//         margin-top: 0;
//         border-top: .013333rem solid #e2e2e2;
//     }
//     &.success{
//     background: #fff url('../images/phoner.png') no-repeat 8.5726667rem center ;
//     background-size: .493333rem .493333rem;
// }
//     &.error{
//     background: #fff url('../images/phonee.png') no-repeat 8.5726667rem center ;
//         background-size: .493333rem .493333rem;
// }
//     input{
//         background: #fff;
//         width: 4.533333rem;
//         margin-left: .186667rem;
//         margin-top:0;
//         text-indent: 0;
//         color: #bdbdbd;
//         font-size: 14px;
//         [data-dpr="2"] & {
//             font-size: 28px;
//         }
//         [data-dpr="3"] & {
//             font-size: 42px;
//         }
//         &::-moz-placeholder{
//             color: #bdbdbd;
//         }
//         &::placeholder{
//             color: #bdbdbd;
//         }
//         &::-webkit-input-placeholder{
//             color: #bdbdbd;
//         }
//         &:-ms-input-placeholder{
//              color: #bdbdbd;
//         }  
//     }
//     &>span{
//         position: absolute;
//         right: .506667rem;
//         top: .12rem;
     
//         font-size: 10px;
//         padding:.193333rem .306667rem;
//         border-radius:5px;
//         line-height: .266667rem;
//         text-indent: 0;
//         text-align: center;
//         border: .023333rem solid #fa455c;
//         border-radius: 5px;
//         -webkit-border-radius:5px;
//         -o-border-radius:5px;
//         -ms-border-radius:5px;
//         -moz-border-radius:5px;
//         &.change{
//             display: none;
//         }
//         &>i{
//             font-style: normal;
//         }
//         [data-dpr="2"] & {
//             border-radius:10px;
//         -webkit-border-radius:10px;
//         -o-border-radius:10px;
//         -ms-border-radius:10px;
//         -moz-border-radius:10px;
//         font-size: 20px;
//         border: .013333rem solid #fa455c;
//         }
//          [data-dpr="3"] & {
//              border: .013333rem solid #fa455c;
//             border-radius:15px;
//         -webkit-border-radius:15px;
//         -o-border-radius:15px;
//         -ms-border-radius:15px;
//         -moz-border-radius:15px;
//         font-size:30px;

//         }
//     }

// }
// a.ui-changephone-btn{
//     margin: auto;
//     margin-top: .666667rem;
//     display: block;
//     color: #fff;
//     background: #fa455c;
//     width: 8.666667rem;
//     height: .933333rem;
//     line-height: .933333rem;
//     text-align: center;
//     font-size: 16px;
//     [data-dpr="2"] & {
//         font-size: 32px;
//     }
//     [data-dpr="3"] & {
//         font-size: 48px;
//     }
// }
// .ui-changephone2-tips{
//    margin-left: auto;
//    margin-right: auto;
//    margin-top: 1.333333rem;
//    display: none;
//     width: 6rem;
//     height: 6.346667rem;
//     background: #fff;
//     border:1px solid #fff;
//     position: relative;
//     border-radius: 8px;
//     -webkit-border-radius:8px;
//     -ms-border-radius:8px;
//     -o-border-radius:8px;
//     -moz-border-radius:8px;
//     [data-dpr="2"] & {
//          border-radius: 16px;
//     -webkit-border-radius:16px;
//     -ms-border-radius:16px;
//     -o-border-radius:16px;
//     -moz-border-radius:16px;
//     }
//      [data-dpr="3"] & {
//          border-radius: 24px;
//     -webkit-border-radius:24px;
//     -ms-border-radius:24px;
//     -o-border-radius:24px;
//     -moz-border-radius:24px;
//     }
//     &>span.ui-tips-close{
//         position: absolute;
//         width: .6rem;
//         height: .6rem;
//         background: #ffffff;
//         right: -.15rem;
//         top: -.15rem;
//         border-radius: 50%;
//         font-size: 18px;
//         color: #c2c2c2;
//         display: block;
//         text-align: center;
//         line-height: .6rem;
//         font-family: -webkit-pictograph;
//         [data-dpr="2"] & {
//             font-size: 26px;
//         }
//         [data-dpr="3"] & {
//             font-size: 54px;
//         }
//     }
//     &>p{
//         width: 5.093333rem;
//         height: 1rem;
//         margin-left: auto;
//         margin-right: auto;
//         font-size: 16px;
//         font-weight: bold;
//         color: #fa455c;
//         line-height: 1rem;
//         text-align: center;
//         margin-top: .48rem;
//         padding-top: 1.6rem;
//         text-indent: 0;
//         background: url("../images/changephoneright.png") no-repeat center .32rem;
//         background-size: 1.013333rem 1.013333rem;
//         [data-dpr="2"] & {
//             font-size: 32px;
//         }
//         [data-dpr="3"] & {
//             font-size: 48px;
//         }
//     }
//     &>span.ui-tips-span{
//         width: 5.093333rem;
//         margin-left: auto;
//         margin-right: auto;
//         display: block;
//         text-align: center;
//         line-height: .466667rem;
//         font-size: 12px;
//         color: #c8c8c8;
//         [data-dpr="2"] & {
//             font-size: 24px;
//         }
//         [data-dpdr="3"] & {
//             font-size: 36px;
//         }
//     }
//     &>a{
//         width: 6rem;
//         height: 1.333333rem;
//         line-height: 1.333333rem;
//         text-align: center;
//         color: #fff;
//         display: block;
//         background: #fa455c;
//         font-size: 12px;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//          border-radius:0 0 8px 8px;
//     -webkit-border-radius:0 0 8px 8px;
//     -ms-border-radius:0 0 8px 8px;
//     -o-border-radius:0 0 8px 8px;
//     -moz-border-radius:0 0 8px 8px;
//     [data-dpr="2"] & {
//           font-size: 24px;
//          border-radius: 0 0 16px 16px;
//     -webkit-border-radius: 0 0 16px 16px;
//     -ms-border-radius: 0 0 16px 16px;
//     -o-border-radius: 0 0 16px 16px;
//     -moz-border-radius: 0 0 16px 16px;
//     }
//      [data-dpr="3"] & {
//          font-size: 36px;
//          border-radius: 0 0 24px 24px;
//     -webkit-border-radius:0 0 24px 24px;
//     -ms-border-radius:0 0 24px 24px;
//     -o-border-radius:0 0 24px 24px;
//     -moz-border-radius:0 0 24px 24px;
//     }
//     }
// }