html,
body {
  height: 100%;
  min-height: 100%;
  background: #f0f0f0;
}
.ui-recordofdonation-header {
  width: 10rem;
  height: 1.12rem;
  background: #fc4c56;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.12rem;
  position: relative;
}
.ui-recordofdonation-header a {
  width: .333333rem;
  height: 1.12rem;
  position: absolute;
  top: center;
  left: .426667rem;
  line-height: 1.12rem;
  display: inline-block;
}
.ui-recordofdonation-header a img {
  width: .333333rem;
  height: .56rem;
  vertical-align: text-bottom;
}
[data-dpr="2"] .ui-recordofdonation-header {
  font-size: 36px;
}
[data-dpr="3"] .ui-recordofdonation-header {
  font-size: 54px;
}
.ui-identify-container {
  width: 9.2rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin-top: .32rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-bottom: .666667rem;
}
.ui-identify-container h5 {
  width: 8.133333rem;
  height: 1.466667rem;
  line-height: 1.466667rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #828282;
  font-size: 12px;
  border-bottom: .026667rem solid #f1f1f1;
}
[data-dpr="2"] .ui-identify-container {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
[data-dpr="3"] .ui-identify-container {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
[data-dpr="2"] .ui-identify-container h5 {
  font-size: 24px;
}
[data-dpr="3"] .ui-identify-container h5 {
  font-size: 36px;
}
ul.ui-idnetify-list li {
  width: 8.133333rem ;
  height: 4.56rem;
  text-align: center;
  margin: auto;
}
ul.ui-idnetify-list li h6 {
  height: 1.28rem;
  line-height: 1.28rem;
  margin: auto;
  font-size: 12px;
  color: #3a3a3a;
}
ul.ui-idnetify-list li .ui-identify-img {
  width: 5.333333rem;
  height: 3.333333rem;
  border-radius: 8px;
  margin: auto;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
ul.ui-idnetify-list li .ui-identify-img img {
  width: 5.333333rem;
  height: 3.333333rem;
  display: block;
}
[data-dpr="2"] ul.ui-idnetify-list li h6 {
  font-size: 24px;
}
[data-dpr="3"] ul.ui-idnetify-list li h6 {
  font-size: 36px;
}
[data-dpr="2"] ul.ui-idnetify-list li .ui-identify-img {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
[data-dpr="3"] ul.ui-idnetify-list li .ui-identify-img {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.ui-certification-save {
  width: 8.693333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  margin: auto;
  background: #fc4c56;
  color: #fff;
  margin-top: .32rem;
  border-radius: 20px;
  margin-bottom: .8rem;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
[data-dpr="2"] .ui-certification-save {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
[data-dpr="3"] .ui-certification-save {
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
