* {
  margin: 0;
  padding: 0;
}
.ui-header {
  width: 10rem;
  height: 1.066667rem;
  background: #ff5452;
  text-align: center;
  color: #fff;
  line-height: 1.066667rem;
  font-size: 19px;
}
[data-dpr="2"] .ui-header {
  font-size: 38px;
}
[data-dpr="3"] .ui-header {
  font-size: 57px;
}
.ui-swiper {
  width: 10rem;
  height: 4.64rem;
}
.ui-swiper img {
  width: 100%;
}
.ui-nav {
  width: 10rem;
  height: 2.266667rem ;
  background: #fff;
}
.ui-nav a {
  width: 1.466667rem;
  height: 1.653333rem;
  display: inline-block;
  text-align: center;
}
.ui-nav a:nth-of-type(1) {
  margin-left: 1.946667rem;
  margin-right: 3.2rem;
}
.ui-nav a img {
  width: 1.466667rem;
  height: 1.066667rem;
  margin-top: .32rem;
  margin-bottom: .32rem;
  display: inline-block;
}
.ui-nav a span {
  color: #ff5452;
  font-size: 12px;
  display: block;
}
[data-dpr="2"] .ui-nav a span {
  font-size: 24px;
}
[data-dpr="3"] .ui-nav a span {
  font-size: 38px;
}
.ui-donation-container {
  width: 10rem;
  height: auto;
  background: #f6f6f6;
}
.ui-donation-container .swiper-wrapper .swiper-slide {
  width: 4.666667rem;
  height: 1.333333rem;
}
.ui-donation-container .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.ui-donation-container .swiper-wrapper .swiper-slide a img {
  width: 3.4rem;
  height: 2.426667rem;
}
.ui-donation-container .swiper-wrapper .swiper-slide a span.ui-title {
  font-size: 12px;
  color: #3a3a3a;
}
.ui-donation-container .swiper-wrapper .swiper-slide a span.progress {
  width: 3.133333rem;
  height: .08rem;
  border-radius: 0.04rem;
}
[data-dpr="2"] .ui-donation-container .swiper-wrapper .swiper-slide .swiper-slide a span.ui-title {
  font-size: 24px;
}
[data-dpr="3"] .ui-donation-container .swiper-wrapper .swiper-slide .swiper-slide a span.ui-title {
  font-size: 36px;
}
