html {
  height: 100%;
  background: #f6f6f6;
}
.ui-itemlist-header {
  width: 10rem;
  height: 1.12rem;
  background: #fc4c56;
  z-index: 10;
  margin-bottom: .106667rem;
}
.ui-itemlist-header h4 {
  font-size: 18px;
  color: #fff;
  height: 1.173333rem;
  width: 10rem;
  text-align: center;
  line-height: 1.173333rem;
  position: relative;
}
.ui-itemlist-header h4 a {
  width: .333333rem;
  height: .56rem;
  position: absolute;
  top: .133333rem;
  left: .426667rem;
  line-height: 1.173333rem;
  display: inline-block;
}
.ui-itemlist-header h4 a img {
  width: .333333rem;
  height: .56rem;
}
[data-dpr="3"] .ui-itemlist-header .ui-itemlist-show {
  background: #fff url("../images/heng_22.png") no-repeat center 0.666667rem;
}
[data-dpr="2"] .ui-itemlist-header h4 {
  font-size: 36px;
}
[data-dpr="3"] .ui-itemlist-header h4 {
  font-size: 54px;
}
.ui-itemlist-content {
  width: 10rem;
  padding-bottom: 2.346667rem;
  background: #f0f0f0;
  padding-top: .32rem;
}
.ui-itemlist-content .ui-itemlist-list {
  border-radius: .106667rem;
  background: #fff;
  width: 9.2rem;
  margin-left: auto;
  margin-right: auto;
}
.ui-itemlist-content .ui-itemlist-list li {
  width: 8.16rem;
  min-height: 1.493333rem;
  line-height: 1.493333rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .026667rem dashed #f1f1f1;
}
.ui-itemlist-content .ui-itemlist-list li ul.ui-itemlist-detial {
  width: 8.133333rem;
  height: auto;
  overflow: hidden;
  display: none;
}
.ui-itemlist-content .ui-itemlist-list li ul.ui-itemlist-detial li {
  width: 8.133333rem;
  height: .533333rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #fff;
}
.ui-itemlist-content .ui-itemlist-list li ul.ui-itemlist-detial li a {
  color: #353535;
  text-indent: 0.9rem;
  display: block;
  border: none;
  background-color: rgba(240, 240, 240, 0.2);
}
.ui-itemlist-content .ui-itemlist-list li a.ui-tu {
  font-size: 12px;
  color: #353535;
  display: block;
  height: 1.493333rem;
}
.ui-itemlist-content .ui-itemlist-list li a.ui-tu span:nth-of-type(1) {
  float: left;
}
.ui-itemlist-content .ui-itemlist-list li a.ui-tu span:nth-of-type(2) {
  margin-right: .133333rem;
  float: right;
}
.ui-itemlist-content .ui-itemlist-list li a.ui-tu span:nth-of-type(2) img {
  width: .08rem;
  height: .133333rem;
}
[data-dpr="2"] .ui-itemlist-content .ui-itemlist-list li a {
  font-size: 24px;
  color: #353535;
}
[data-dpr="3"] .ui-itemlist-content .ui-itemlist-list li a {
  font-size: 36px;
  color: #353535;
}
[data-dpr="2"] .ui-itemlist-content .ui-itemlist-aboutus li a {
  font-size: 24px;
  color: #353535;
}
[data-dpr="3"] .ui-itemlist-content .ui-itemlist-aboutus li a {
  font-size: 36px;
  color: #353535;
}
[data-dpr="2"] .ui-itemlist-content .ui-itemlist-list li a.ui-tu span:nth-of-type(2) img {
  width: .16rem;
  height: .28rem;
}
[data-dpr="3"] .ui-itemlist-content .ui-itemlist-list li a.ui-tu span:nth-of-type(2) img {
  width: .24rem;
  height: .426667rem;
}
